/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
li {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

em {
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto;
}

.menu__title {
  font-family: shrikhand;
  font-size: 2.5rem;
}

.menu-part__title {
  display: inline;
  text-transform: uppercase;
}
.menu-part__title::after {
  content: "";
  display: block;
  width: 4rem;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
}

h1, h2, h3 {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

footer > p, .logo-container > p {
  font-family: shrikhand;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

main > form {
  background-color: #eaeaea;
  text-align: center;
  font-weight: bold;
  padding: 1rem 1rem;
  box-shadow: inset 0px 6px 6px -6px #888;
}
main > form::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: -3rem;
}
main .explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #F6F6F6;
}
main .explore h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 4rem;
  padding-left: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
main .explore p {
  text-align: center;
  font-size: 1.85rem;
  margin-bottom: 3rem;
}
main .explore button {
  padding: 1.5rem 2rem;
  border-radius: 30px;
  align-self: center;
  font-weight: 500;
  font-size: medium;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
main .explore button:hover {
  filter: brightness(110%);
}
main .works {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 4rem 2rem;
}
main .works li {
  padding: 2.5rem 7.5rem;
  border-radius: 15px;
  align-text: center;
  font-weight: 500;
  font-size: medium;
  background-color: #F6F6F6;
  margin-top: 2rem;
  box-shadow: 2px 4px 14px -5px #888;
}
main .works li:hover {
  background-color: #F5EDFF;
}
main .restaurants {
  padding: 7rem 2.5rem;
  background-color: #F6F6F6;
}

footer {
  background-color: #353535;
  color: white;
  padding: 3rem;
  line-height: 3rem;
}
footer li:nth-child(-n+2) {
  font-weight: bold;
}
footer li:first-child::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2e7";
  margin-right: 1rem;
}
footer li:nth-child(2)::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f4c4";
  margin-right: 0.6rem;
}

.logo-container {
  width: 150px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.logo-container p {
  font-size: 3rem;
}

.menu__heart {
  font-size: 2.5rem;
  padding-right: 2rem;
}
.menu__heart:hover::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f004";
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  color: transparent;
  transition: 0.9s ease-in-out;
}

section.menu-container {
  background-color: #F6F6F6;
  padding: 30px 15px 70px;
  display: flex;
  flex-direction: column;
  border-radius: 49px 49px 0 0;
  margin-top: -54px;
  z-index: 1;
  position: relative;
}
section.menu-container > .menu__heart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
section.menu-container > .menu__ordering {
  padding: 1.5rem 5rem;
  border-radius: 30px;
  align-self: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
section.menu-container > .menu__ordering:hover {
  filter: brightness(110%);
}

.delay1 {
  animation-duration: 2s;
  animation-delay: 0s;
  animation-name: delayArticle;
}

.delay2 {
  animation-duration: 3s;
  animation-delay: 0s;
  animation-name: delayArticle;
}

.delay3 {
  animation-duration: 3s;
  animation-delay: 0s;
  animation-name: delayArticle;
}

@keyframes delayArticle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dish {
  display: flex;
  margin: 1.5em 0px;
  overflow: hidden;
  border-radius: 10px;
}
.dish > div {
  width: 100%;
  background-color: white;
  padding: 15px 10px;
  overflow: hidden;
}
.dish > div > div {
  display: flex;
  justify-content: space-between;
}
.dish > div > div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}
.dish > button {
  display: none;
}
.dish:hover > button {
  background-color: #99E2D0;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  display: inline-block;
  animation: animButton 0.4s;
  cursor: pointer;
}

@keyframes animButton {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0px);
  }
}
.fa-check {
  padding: 0.2em;
  background-color: white;
  border-radius: 2rem;
  color: #99E2D0;
  animation: animCheck 0.5s;
}

@keyframes animCheck {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
