/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
li {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

em {
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto;
}

.menu__title {
  font-family: shrikhand;
  font-size: 2.5rem;
}

.menu-part__title {
  display: inline;
  text-transform: uppercase;
}
.menu-part__title::after {
  content: "";
  display: block;
  width: 4rem;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
}

h1, h2, h3 {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

footer > p, .logo-container > p, .loader__logo {
  font-family: shrikhand;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

main > form {
  background-color: #eaeaea;
  text-align: center;
  font-weight: bold;
  padding: 1rem 1rem;
  box-shadow: inset 0px 6px 6px -6px #888;
}
main > form::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: -3rem;
}

.illustration-photo__container {
  max-height: 500px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 3rem;
  line-height: 3rem;
}
footer li:nth-child(-n+2) {
  font-weight: bold;
}
footer li:first-child::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2e7";
  margin-right: 1rem;
}
footer li:nth-child(2)::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f4c4";
  margin-right: 0.6rem;
}

section.menu-container {
  background-color: #F6F6F6;
  padding: 30px 15px 70px;
  display: flex;
  flex-direction: column;
  border-radius: 49px 49px 0 0;
  margin-top: -54px;
  z-index: 1;
  position: relative;
}
section.menu-container > .menu__heart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
section.menu-container > .menu__ordering {
  padding: 1.5rem 2rem;
  border-radius: 30px;
  align-self: center;
  font-weight: 500;
  font-size: medium;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
section.menu-container > .menu__ordering:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 5px black;
}

.delay1 {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: delayArticle;
  animation-fill-mode: forwards;
}

.delay2 {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-name: delayArticle;
  animation-fill-mode: forwards;
}

.delay3 {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-name: delayArticle;
  animation-fill-mode: forwards;
}

@keyframes delayArticle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.works {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 4rem 2rem;
}
.works ol {
  counter-reset: step;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}
.works ol li {
  min-width: 325px;
  flex: 1 1 auto;
  padding: 2.5rem 6.5rem 2.5rem 7.5rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: medium;
  background-color: #F6F6F6;
  margin-top: 2rem;
  margin-left: 1rem;
  box-shadow: 2px 4px 14px -5px #888;
  position: relative;
}
.works ol li:hover {
  background-color: #f5edff;
}
.works ol li::before {
  content: counter(step);
  counter-increment: step;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: -1rem;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px 8px;
  color: white;
  font-size: 1.1rem;
}
.works ol li::after {
  content: counter(step, icone);
  counter-increment: icone;
  list-style-type: icone;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 3.5rem;
  color: #808080;
  font-size: 2rem;
}
.works ol li:hover::after {
  color: #9356DC;
}

@counter-style icone {
  system: additive;
  additive-symbols: "\f54e" 3, "\f0ca" 2, "\f3cd" 1;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 2rem;
  background-color: #F6F6F6;
  gap: 2rem;
}
.restaurants h2 {
  font-size: 2.5rem;
  width: 100%;
}
.restaurants .restaurants__article {
  background-color: white;
  border-radius: 24px 24px 24px 24px;
  width: 335px;
  height: 251px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -5px;
  position: relative;
  aspect-ratio: 9/7;
}
.restaurants .restaurants__article .new-tag {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  right: 14px;
  top: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
}
.restaurants .restaurants__article .restaurants__bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  height: 30.68%;
  width: 335px;
}
.restaurants .restaurants__article .restaurants__image {
  height: 69.32%;
  width: 335px;
  border-radius: 24px 24px 0 0;
}
.restaurants .restaurants__article .restaurants__image img {
  border-radius: 24px 24px 0 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #F6F6F6;
}
.explore h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 4rem;
  padding-left: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.explore p {
  text-align: center;
  font-size: 1.85rem;
  margin-bottom: 3rem;
}
.explore button {
  padding: 1.5rem 2rem;
  border-radius: 30px;
  align-self: center;
  font-weight: 500;
  font-size: medium;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}
.explore button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 5px black;
}

.loader {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(73, 43, 85, 0.95);
  animation: cssAnimation 1s 2s forwards;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader__logo {
  position: absolute;
  font-size: xx-large;
  animation: rotation 0.5s backwards infinite;
  background-image: linear-gradient(to left, #9356DC, #FF79DA, #99E2D0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
.logo-container {
  width: 150px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.logo-container p {
  font-size: 3rem;
}

.heart {
  position: absolute;
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: 400;
  bottom: 37px;
  right: 10px;
}
.heart::before {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.heart::after {
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out;
  content: "\f004";
  background-image: linear-gradient(#9356DC, #FF79DA) !important;
  font-weight: 600;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
}
.heart:hover::before {
  opacity: 0;
}
.heart:hover::after {
  opacity: 1;
}

.dish {
  display: flex;
  margin: 1.5em 0px;
  overflow: hidden;
  border-radius: 10px;
}
.dish > div {
  width: 100%;
  background-color: white;
  padding: 15px 10px;
  overflow: hidden;
}
.dish > div > div {
  display: flex;
  justify-content: space-between;
}
.dish > div > div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
}
.dish > button {
  transition: 0.6s ease-in-out;
}
.dish > button > .fa-check {
  display: none;
}
.dish:hover > button {
  background-color: #99E2D0;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  display: inline-block;
  transform: translateX(0px);
  cursor: pointer;
}
.dish:hover > button > .fa-check {
  display: inline-block;
}

@keyframes animButton {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0px);
  }
}
.fa-check {
  padding: 0.2em;
  background-color: white;
  border-radius: 2rem;
  color: #99E2D0;
  animation: animCheck 0.5s;
}

@keyframes animCheck {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
