@mixin buttons-light {
    padding: 1.5rem 2rem;
    border-radius: 30px;
    align-self: center;
    font-weight: 500;
    font-size: medium;
    color: white;
    background: $gradient1;
    &:hover {
        filter: brightness(110%);
        box-shadow: 5px 5px 5px black;
    }
}

// à améliorer avec une fonction
@mixin delay {
    .delay1 {
        animation-duration: 2s;
        animation-delay: 0ms;
        animation-name: delayArticle;
        animation-iteration-count: 1;
    }
    
    .delay2 {
        animation-duration: 3s;
        animation-delay: 0ms;
        animation-name: delayArticle;
        animation-iteration-count: 1;
    }
    
    .delay3 {
        animation-duration: 4s;
        animation-delay: 0ms;
        animation-name: delayArticle;
        animation-iteration-count: 1;
    }
}