section.menu-container {
    background-color: $background-color;
    padding: 30px 15px 70px;
    display: flex;
    flex-direction: column;
    border-radius: 49px 49px 0 0;
    margin-top: -54px;
    z-index: 1;
    position: relative;
    >.menu__heart-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
}