@import "../abstracts/mixins";

section.menu-container {
    background-color: $bg-color;
    padding: 30px 15px 70px;
    display: flex;
    flex-direction: column;
    border-radius: 49px 49px 0 0;
    margin-top: -54px;
    z-index: 1;
    position: relative;
    > .menu__heart-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    > .menu__ordering {
        @include buttons-light;
    }
}

.delay1 {
    animation-duration: 1s;
    animation-delay: 0;
    animation-name: delayArticle;
    animation-iteration-count: 1;
}

.delay2 {
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-name: delayArticle;
    animation-iteration-count: 1;}

.delay3 {
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-name: delayArticle;
    animation-iteration-count: 1;
}

@keyframes delayArticle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}