section.menu-container {
    background-color: $background-color;
    padding: 30px 15px 70px;
    display: flex;
    flex-direction: column;
    border-radius: 49px 49px 0 0;
    margin-top: -54px;
    z-index: 1;
    position: relative;
    > .menu__heart-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    > .menu__ordering {
        padding: 1.5rem 5rem;
        border-radius: 30px;
        align-self: center;
        font-weight: bold;
        color: white;
        background: $gradient1;
        &:hover {
            filter: brightness(110%);
        }
    }
}

.delay1 {
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: delayArticle;
    // animation-iteration-count: inherit;
}

.delay2 {
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: delayArticle;
    // animation-iteration-count: inherit;
}

.delay3 {
    animation-duration: 3s;
    animation-delay: 0s;
    animation-name: delayArticle;
    // animation-iteration-count: inherit;
}

@keyframes delayArticle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}