.restaurants {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    padding: 7rem 2rem;
    background-color: $bg-color;
    gap: 2rem;
    h2 {
        font-size: 2.5rem;
        width: 100%;
    }
    // .restaurants__link {

    // }
    .restaurants__article {
        background-color: $footer-text-color;
        border-radius: 24px 24px 24px 24px;
        width: 335px;
        height: 251px;
        cursor: pointer;
        box-shadow: 0px 0px 15px -5px;
        position: relative;
        aspect-ratio: 9/7;
        //     flex: 1 1 auto;
        //     align-self: center;
        //     display: flex;
        //     justify-content: center;
        .new-tag {
            position: absolute;
            background-color: #99e2d0;
            color: #008766;
            right: 14px;
            top: 14px;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: 500;
        }
        .restaurants__bottom {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            height: 30.68%; //77px;
            width: 335px;
        }
        .restaurants__image {
            height: 69.32%; //174px;
            width: 335px;
            border-radius: 24px 24px 0 0;
            img {
                border-radius: 24px 24px 0 0;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}
