# Ignore files in Document Folder
documents/*

# Ignore files in node_modules
node_modules/

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore .gitignore file
.gitignore