.dish {
    display: flex;
    margin: 1.5em 0px;
    overflow: hidden;
    border-radius: 10px;
    > div {
        width: 100%;
        background-color: $footer-text-color;
        padding: 15px 10px;
        overflow: hidden;
        > div {
            display: flex;
            justify-content: space-between;
            > p {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300px;
                white-space: nowrap;
            }
        }
    }
    > button {
        display: none;
    }
    &:hover > button {
        background-color: $tertiary-color;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
        display: inline-block;
        animation: animButton 0.4s;
        cursor : pointer;
    }
}

@keyframes animButton {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
    }

    }