.heart {
  position: absolute;
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: 400;
  bottom: 37px;
  right: 10px;
  &::before {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  &::after {
    position: absolute;
    left: 0;
    transition: 0.3s ease-in-out;
    content: "\f004";
    background-image: $gradient2 !important;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    cursor: pointer;
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}