.loader {
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(73, 43, 85, 0.95);
    animation: cssAnimation 1s 2s forwards;
    margin-top: -10px;
    .loader__logo {
        position: absolute;
        top: 30vh;
        left: 40vw;
        font-size: xx-large;
        animation: rotation 0.5s backwards infinite;
        background-image: linear-gradient(
            to left,
            $primary-color,
            $secondary-color,
            $tertiary-color
        );
        background-clip: text;
        color: transparent;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
