.logo-container {
    width: 150px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    > img {
        // display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}