.logo-container {
    width: 150px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center; // Was not there for the image version of the logo
    // For logo image version :
    // > img {
    //     object-fit: cover;
    //     height: 100%;
    //     width: 100%;
    // }
    p {
        font-size: 3rem;
    }
}