// mainly font of the page (Roboto)
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// font for the titles and logo
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

//colors of websites:
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$background-color :  #F6F6F6;
$footer-bg : #353535;
$footer-text-color : white;

html {
    // https://www.freecodecamp.org/news/override-root-font-size-for-a-better-user-experience/
    // 62.5% of 16px is 10px #a11y
    font-size: 62.5%;
}

body {
    // 1.6 rem of 10px = 16px #a11y
    font-size: 1.6rem;
    font-family: Roboto;
}

.menu__title {
    font-family: shrikhand;
    font-size: 2.5rem;
}

.menu-part__title {
    text-transform: uppercase ;
    border-bottom: 1px solid $tertiary-color;
}

h1 {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

footer > p {
    font-family: shrikhand;
}